/* Defining the fonts that will be used in the project. */
/* Defining the colors that will be used in the project. */
:root {
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-weight: 500;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* A CSS class that is used to style the icon. */
.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  color: #333333;
  flex-grow: 0;
  transform-origin: center;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex: 0 1 auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
@media screen and (max-width: 748px) {
  .header {
    padding: 0 0.5rem;
  }
}
.header-logo {
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 3.3125rem;
  text-transform: none;
  color: #333333;
  cursor: default;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 0rem;
  flex: 0 1 auto;
}
.header-logo .jello {
  animation: jello-vertical 0.9s both;
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.header .menu-icon {
  display: none;
}
@media screen and (max-width: 860px) {
  .header .menu-icon {
    display: block;
  }
}
.header-nav .close-icon {
  position: absolute;
  right: 2rem;
  top: 2.7rem;
  display: none;
}
@media screen and (max-width: 860px) {
  .header-nav .close-icon {
    display: block;
  }
}
@media screen and (max-width: 748px) {
  .header-nav .close-icon {
    right: 0.5rem;
    top: 1rem;
  }
}
@media screen and (max-width: 860px) {
  .header-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 0vw;
    height: 100vh;
    transform: translateX(-110vw);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transition: all 0.8s ease;
    -webkit-box-shadow: 24px 0px 22px -2px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 24px 0px 22px -2px rgba(0, 0, 0, 0.31);
    box-shadow: 24px 0px 22px -2px rgba(0, 0, 0, 0.31);
  }
}
.header-nav > .items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex: 0 1 auto;
}
@media screen and (max-width: 860px) {
  .header-nav > .items {
    overflow: hidden;
    flex-flow: column nowrap;
  }
}
.header-nav > .items .item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-transform: capitalize;
  color: #333333;
  text-decoration: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  position: relative;
}
.header-nav > .items .item::after {
  content: "";
  pointer-events: none;
  bottom: 0px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 0.125rem;
  background-color: #333333;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.header-nav > .items .item:hover::after {
  width: 100%;
  left: 0%;
}

.jump-item:nth-child(1) {
  animation: jump 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1s;
}

.jump-item:nth-child(2) {
  animation: jump 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.2s;
}

.jump-item:nth-child(3) {
  animation: jump 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.4s;
}

.jump-item:nth-child(4) {
  animation: jump 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.6s;
}

.jump:nth-child(1) {
  animation: jump 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.2s;
}

.jump:nth-child(2) {
  animation: jump 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.4s;
}

.jump:nth-child(3) {
  animation: jump 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.6s;
}

.jump:nth-child(4) {
  animation: jump 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.8s;
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
.open-nav {
  transform: translateX(0vw);
  width: unset;
}
@media screen and (max-width: 860px) {
  .open-nav {
    width: 100vw;
  }
}

.return-to-up {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 0 1 auto;
  border-radius: 100rem;
  height: 3rem;
  width: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  z-index: 3;
  transform: translate(1000px, 1000px) skew(80deg, 10deg);
  transform-origin: 0% 100%;
}
.return-to-up::before {
  content: "return to up";
  padding: 0.5rem;
  border-radius: 0.75rem;
  background-color: #bdbdbd;
  white-space: nowrap;
  position: absolute;
  right: -1.6rem;
  top: -2.5rem;
  color: #ffffff;
  opacity: 0;
  transform-origin: center;
  transform: translatey(3rem);
  filter: blur(3px);
  pointer-events: none;
  transition: all 0.3s ease;
}
.return-to-up:hover::before {
  opacity: 1;
  transform: translatey(0rem);
  filter: blur(0px);
}
.return-to-up:hover::before:hover {
  opacity: 1;
}
.return-to-up .arrow-up-icon {
  font-size: 2rem;
}
@media screen and (max-width: 480px) {
  .return-to-up {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.slide-in-blurred-br {
  animation: slide-in-blurred-br 0.4s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-delay: 0.2s;
}

.slide-out-blurred-br {
  animation: slide-out-blurred-br 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
}

@keyframes slide-in-blurred-br {
  0% {
    transform: translate(1000px, 1000px) skew(80deg, 10deg);
    transform-origin: 0% 100%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) skew(0deg, 0deg);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-out-blurred-br {
  0% {
    transform: translate(0, 0) skew(0deg, 0deg);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translate(1000px, 1000px) skew(80deg, 10deg);
    transform-origin: 0% 100%;
    filter: blur(40px);
    opacity: 0;
  }
}
.home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 2.625rem;
  flex: 0 1 auto;
  padding: 5.625rem 0;
}
@media screen and (max-width: 748px) {
  .home {
    gap: 1rem;
    padding: 2.5rem 0 2.5rem;
  }
}
.home > .home-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 0 1 auto;
  margin-left: 12.5rem;
}
@media screen and (max-width: 920px) {
  .home > .home-text {
    margin-left: 6.25rem;
  }
}
@media screen and (max-width: 560px) {
  .home > .home-text {
    margin-left: 1.875rem;
  }
}
@media screen and (max-width: 320px) {
  .home > .home-text {
    margin-left: 0.9375rem;
  }
}
.home > .title > .support-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-transform: initial;
  color: #2d9cdb;
}
@media screen and (max-width: 748px) {
  .home > .title > .support-text {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}
@media screen and (max-width: 748px) {
  .home > .title > .support-text {
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }
}
.home > .title > .main-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.5rem;
  text-transform: initial;
  color: #333333;
  max-width: 33.75rem;
}
@media screen and (max-width: 748px) {
  .home > .title > .main-text {
    font-size: 1.5rem;
    line-height: 2.25rem;
    max-width: 17rem;
  }
}
@media screen and (max-width: 320px) {
  .home > .title > .main-text {
    font-size: 1.25rem;
    line-height: 1.875rem;
    max-width: 13.75rem;
  }
}
.home > .home-img {
  width: 100%;
  border-radius: 1.125rem;
}
.home > .description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 2.625rem;
  flex: 0 1 auto;
  max-width: 22.875rem;
}
@media screen and (max-width: 748px) {
  .home > .description {
    max-width: 17.1875rem;
    gap: 1rem;
  }
}
@media screen and (max-width: 748px) {
  .home > .description {
    max-width: 14.6875rem;
    gap: 1rem;
  }
}
.home > .description > .support-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.5rem;
  text-transform: initial;
  color: #333333;
}
@media screen and (max-width: 748px) {
  .home > .description > .support-text {
    font-size: 1.5rem;
    line-height: 2.25rem;
    max-width: 13.75rem;
  }
}
@media screen and (max-width: 320px) {
  .home > .description > .support-text {
    font-size: 1.25rem;
    line-height: 1.875rem;
    max-width: 11.25rem;
  }
}
.home > .description > .main_text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-transform: initial;
  color: #4f4f4f;
}
@media screen and (max-width: 748px) {
  .home > .description > .main_text {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
@media screen and (max-width: 320px) {
  .home > .description > .main_text {
    font-size: 0.6875rem;
    line-height: 1rem;
  }
}
.home > .contact-email {
  width: 22.875rem;
}
@media screen and (max-width: 748px) {
  .home > .contact-email {
    width: 18.125rem;
  }
}
@media screen and (max-width: 350px) {
  .home > .contact-email {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 320px) {
  .home > .contact-email {
    width: calc(100% - 30px);
  }
}
.home > .contact-email > .label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-transform: initial;
  color: #828282;
}
@media screen and (max-width: 748px) {
  .home > .contact-email > .label {
    font-size: 0.625rem;
    line-height: 0.9375rem;
  }
}
.home > .contact-email > .email-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex: 0 1 auto;
  width: calc(100% - 1rem);
  padding: 0.25rem;
  padding-left: 0.75rem;
  background: #f2f2f2;
  border-radius: 0.75rem;
}
.home > .contact-email > .email-container > .email-input {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-transform: initial;
  color: #4f4f4f;
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}
.home > .contact-email > .email-container > .email-input::placeholder {
  color: #bdbdbd;
}
@media screen and (max-width: 748px) {
  .home > .contact-email > .email-container > .email-input {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
}
.home > .contact-email > .email-container > .join {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-transform: initial;
  color: #f2f2f2;
  cursor: pointer;
  background: #2d9cdb;
  border-radius: 0.75rem;
  border: none;
  padding: 0.6875rem 1.6875rem;
  transition: all 0.3s ease;
}
.home > .contact-email > .email-container > .join:hover {
  filter: contrast(200%);
}
@media screen and (max-width: 748px) {
  .home > .contact-email > .email-container > .join {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
}

.focus {
  background-color: aqua;
}

.services {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2.625rem;
  flex: 0 1 auto;
  margin: 0 auto;
  width: 90%;
  padding: 1rem 0;
  margin-top: 2rem;
}
@media screen and (min-width: 1200px) {
  .services {
    height: 560px;
  }
}
@media screen and (max-width: 840px) {
  .services {
    width: 100%;
  }
}
.services > .main {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3.375rem;
  text-transform: none;
  color: #333333;
  max-width: 21.625rem;
  margin-left: 0;
}
@media screen and (max-width: 748px) {
  .services > .main {
    max-width: 16.1875rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-left: 6.25rem;
  }
}
@media screen and (max-width: 560px) {
  .services > .main {
    margin-left: 1.875rem;
  }
}
@media screen and (max-width: 320px) {
  .services > .main {
    margin-left: 0.9375rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
    max-width: 13.75rem;
  }
}
.services > .cards {
  align-self: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  flex: 0 1 auto;
}
.services > .cards > .card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 1.5rem;
  flex: 0 1 auto;
  padding: 2.5rem 1.875rem;
  transform-origin: center;
  transition: all 0.1s ease;
}
.services > .cards > .card:hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
  transition: all 0.5s ease;
}
.services > .cards > .card:nth-child(1) > .icon-container {
  background-color: #2d9cdb;
}
.services > .cards > .card:nth-child(2) > .icon-container {
  background-color: #27AE60;
}
.services > .cards > .card:nth-child(3) > .icon-container {
  background-color: #EB5757;
}
.services > .cards > .card > .icon-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 0 1 auto;
  border-radius: 1rem;
  height: 4.1875rem;
  width: 4.1875rem;
}
.services > .cards > .card > .icon-container > .card-icon {
  color: #ffffff;
  font-size: 2rem;
}
.services > .cards > .card > .title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-transform: none;
  color: #333333;
}
.services > .cards > .card > .description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: none;
  color: #4f4f4f;
  max-width: 17.0625rem;
  height: 144px;
}
.services > .cards > .card > .started {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: initial;
  color: #828282;
  cursor: pointer;
  background: #e0e0e0;
  border-radius: 0.75rem;
  border: none;
  padding: 0.5625rem 0.75rem;
  transition: all 0.3s ease;
}
.services > .cards > .card > .started:hover {
  filter: contrast(200%);
}
.services > .cards > .card:hover > .started {
  color: #ffffff;
  cursor: pointer;
  background: #2d9cdb;
  border-radius: 0.75rem;
  animation: shake-top 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@media screen and (max-width: 320px) {
  .services > .cards > .card > .title {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
  .services > .cards > .card > .description {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@keyframes shake-top {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
.our-works {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  flex: 0 1 auto;
  margin: 0 auto;
  width: 90%;
  margin-top: 2rem;
  padding: 2.5rem 0 2rem;
  position: relative;
}
@media screen and (max-width: 840px) {
  .our-works {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .our-works {
    gap: 32;
  }
}
.our-works > .main {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3.375rem;
  text-transform: none;
  color: #333333;
  max-width: 28rem;
  margin-left: 0;
}
@media screen and (max-width: 748px) {
  .our-works > .main {
    max-width: 16.6875rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-left: 6.25rem;
  }
}
@media screen and (max-width: 560px) {
  .our-works > .main {
    margin-left: 1.875rem;
  }
}
@media screen and (max-width: 320px) {
  .our-works > .main {
    margin-left: 0.9375rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
    max-width: 13.75rem;
  }
}
.our-works > .cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0rem;
  flex: 0 1 auto;
}
@media screen and (max-width: 560px) {
  .our-works > .cards {
    gap: 2rem;
  }
}
.our-works > .cards > .card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 1.25rem;
  flex: 0 1 auto;
  width: 49%;
}
@media screen and (max-width: 560px) {
  .our-works > .cards > .card {
    width: 100%;
  }
}
.our-works > .cards > .card:nth-child(2n+1) {
  margin-top: 8rem;
}
@media screen and (max-width: 560px) {
  .our-works > .cards > .card:nth-child(2n+1) {
    margin-top: 0;
  }
}
.our-works > .cards > .card > .img-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 0 1 auto;
  width: 100%;
  overflow: hidden;
  border-radius: 0.75rem;
}
.our-works > .cards > .card > .img-container > .img {
  width: 100%;
  transform-origin: center;
  transition: 0.3s all ease;
  transform: scale(1.01);
}
.our-works > .cards > .card > .text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 0rem;
  flex: 0 1 auto;
  transition: 0.3s all ease;
}
.our-works > .cards > .card > .text-container > .support-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-transform: none;
  color: #828282;
}
.our-works > .cards > .card > .text-container > .main-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-transform: none;
  color: #333333;
}
@media screen and (max-width: 748px) {
  .our-works > .cards > .card > .text-container > .support-text {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  .our-works > .cards > .card > .text-container > .main-text {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}
.our-works > .cards > .card:hover > .img-container > .img {
  transform: scale(1.1) rotate(1deg);
}
.our-works > .cards > .card:hover > .text-container {
  transform: translateX(1.5rem);
}
.our-works > .cards > .card:hover > .text-container > .main-text {
  color: #2d9cdb;
}
.our-works > .container-more-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  flex: 0 1 auto;
  position: absolute;
  right: 0;
  bottom: 2rem;
}
@media screen and (max-width: 560px) {
  .our-works > .container-more-info {
    position: relative;
    right: unset;
    bottom: unset;
  }
}
.our-works > .container-more-info > .more-info-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-transform: none;
  color: #2d9cdb;
  position: relative;
}
@media screen and (max-width: 748px) {
  .our-works > .container-more-info > .more-info-text {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}
.our-works > .container-more-info > .more-info-text::before {
  content: "see more";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 0%;
  z-index: 2;
  color: #2d9cdb;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.2s ease;
  filter: contrast(200%);
}
.our-works > .container-more-info > .arrow-icon {
  font-size: 1.5rem;
  color: #2d9cdb;
}
.our-works > .container-more-info:hover > .more-info-text::before {
  width: 100%;
}
.our-works > .container-more-info:hover > .arrow-icon {
  animation: move 2s infinite forwards 0.2s;
}

@keyframes move {
  0% {
    transform: translateX(0);
    filter: contrast(200%);
  }
  50% {
    transform: translateX(0.5em);
    filter: contrast(100%);
  }
  100% {
    transform: translateX(0);
    filter: contrast(200%);
  }
}
.clients {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  flex: 0 1 auto;
  margin: 0 auto;
  width: 90%;
  position: relative;
  padding: 1rem 0;
  max-height: 40rem;
  margin-top: 4rem;
}
@media screen and (max-width: 840px) {
  .clients {
    width: 100%;
  }
}
@media screen and (max-width: 748px) {
  .clients {
    gap: 2rem;
    flex-flow: column nowrap;
    max-height: unset;
  }
}
.clients > .text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4375rem;
  flex: 0 1 auto;
  align-self: center;
}
@media screen and (max-width: 748px) {
  .clients > .text-container {
    justify-content: start;
    align-items: flex-start;
    flex-flow: column nowrap;
    align-self: auto;
  }
}
.clients > .text-container > .support {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-transform: none;
  color: #EB5757;
}
.clients > .text-container > .title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3.375rem;
  text-transform: none;
  color: #333333;
  width: 17.5rem;
}
.clients > .text-container > .description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: none;
  color: #4f4f4f;
  width: 20rem;
}
@media screen and (max-width: 748px) {
  .clients > .text-container > .support {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  .clients > .text-container > .title {
    max-width: 13.125rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media screen and (max-width: 320px) {
  .clients > .text-container > .support {
    font-size: 0.6875rem;
    line-height: 1rem;
  }
  .clients > .text-container > .title {
    font-size: 1.25rem;
    line-height: 1.875rem;
    max-width: 11.875rem;
  }
  .clients > .text-container > .description {
    max-width: 12.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
.clients > .img-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 1.5rem;
  flex: 0 1 auto;
  align-self: center;
}
.clients > .img-container > .left-side {
  align-self: center;
}
.clients > .img-container > .right-side {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 1.5rem;
  flex: 0 1 auto;
  align-self: center;
}
.clients > .img-container > .right-side > .img:nth-child(1) {
  width: 90%;
}
.clients > .img-container img {
  border-radius: 1.5rem;
  width: 100%;
  transition: 0.3s all ease;
}
@media screen and (max-width: 320px) {
  .clients > .img-container, .clients > .img-container > .right-side {
    gap: 0.75rem;
  }
  .clients > .img-container img {
    border-radius: 1rem;
  }
}
.clients > .img-container:hover img {
  filter: brightness(70%);
}
.clients > .img-container:hover img:hover {
  filter: brightness(110%);
}

.comments {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 3.125rem;
  flex: 0 1 auto;
  margin: 0 auto;
  width: 90%;
  position: relative;
  padding: 1rem 0;
  max-height: 40.625rem;
  margin: 5rem 0 10rem;
}
@media screen and (max-width: 840px) {
  .comments {
    width: 100%;
  }
}
.comments > .main-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3.375rem;
  text-transform: capitalize;
  color: #333333;
  max-width: 58.5625rem;
}
@media screen and (max-width: 748px) {
  .comments > .main-text {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media screen and (max-width: 320px) {
  .comments > .main-text {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}
.comments > .client-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 1.875rem;
  flex: 0 1 auto;
}
@media screen and (max-width: 320px) {
  .comments > .client-container {
    gap: 1.25rem;
  }
}
.comments > .client-container > .photo {
  width: 5rem;
  height: 5rem;
  border-radius: 0.75rem;
  align-self: center;
}
@media screen and (max-width: 320px) {
  .comments > .client-container > .photo {
    width: 3.75rem;
    height: 3.75rem;
  }
}
.comments > .client-container > .description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 0.75rem;
  flex: 0 1 auto;
  align-self: center;
}
@media screen and (max-width: 320px) {
  .comments > .client-container > .description {
    gap: 0.25rem;
  }
}
.comments > .client-container > .description > .name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-transform: capitalize;
  color: #333333;
}
.comments > .client-container > .description > .company {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-transform: capitalize;
  color: #828282;
}
@media screen and (max-width: 320px) {
  .comments > .client-container > .description > .title {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
  .comments > .client-container > .description > .company {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.footer {
  background-color: #100E1D;
  padding: 2rem 0 0.5rem;
}
.footer > .container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 6.875rem;
  flex: 0 1 auto;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
@media screen and (max-width: 748px) {
  .footer > .container {
    padding: 0 0.5rem;
  }
}
.footer > .container > .footer__content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  flex: 0 1 auto;
  width: 100%;
  margin-left: 0;
}
@media screen and (max-width: 748px) {
  .footer > .container > .footer__content {
    flex-flow: column nowrap;
    justify-content: start;
    gap: 2rem;
    margin-left: 6.25rem;
    width: unset;
    align-self: flex-start;
  }
}
@media screen and (max-width: 560px) {
  .footer > .container > .footer__content {
    margin-left: 1.875rem;
  }
}
@media screen and (max-width: 320px) {
  .footer > .container > .footer__content {
    margin-left: 0.9375rem;
  }
}
.footer > .container > .footer__content > .footer-nav > .items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 0rem;
  flex: 0 1 auto;
}
.footer > .container > .footer__content > .footer-nav > .items .item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2.25rem;
  text-transform: capitalize;
  color: #f2f2f2;
  text-decoration: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  position: relative;
}
.footer > .container > .footer__content > .footer-nav > .items .item::after {
  content: "";
  pointer-events: none;
  bottom: 0px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 0.125rem;
  background-color: #f2f2f2;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.footer > .container > .footer__content > .footer-nav > .items .item:hover::after {
  width: 100%;
  left: 0%;
}
.footer > .container > .footer__content > .social-media {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 0.75rem;
  flex: 0 1 auto;
  width: 300px;
}
@media screen and (max-width: 1080px) {
  .footer > .container > .footer__content > .social-media {
    width: unset;
  }
}
.footer > .container > .footer__content > .social-media > .social-media__logo {
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 3.3125rem;
  text-transform: none;
  color: #f2f2f2;
  cursor: default;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 0rem;
  flex: 0 1 auto;
}
.footer > .container > .footer__content > .social-media > .social-media__logo > .jello {
  animation: jello-vertical 0.9s both;
}
.footer > .container > .footer__content > .social-media > .social-media__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 0.75rem;
  flex: 0 1 auto;
}
.footer > .container > .footer__content > .social-media > .social-media__container > a:hover .social-media__logo {
  transform: translateY(-0.5rem);
}
.footer > .container > .footer__content > .social-media > .social-media__container > a > .social-media__logo {
  transition: all 0.3s ease;
}
.footer > .container > .footer__content > .social-media > .social-media__container > a > .social-media__logo:hover {
  transform: translateY(-0.5rem);
}
.footer > .container > .footer__content > .contact-email {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  flex: 0 1 auto;
  width: 22.875rem;
  margin-right: 6rem;
}
@media screen and (max-width: 920px) {
  .footer > .container > .footer__content > .contact-email {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 748px) {
  .footer > .container > .footer__content > .contact-email {
    width: 100%;
  }
}
.footer > .container > .footer__content > .contact-email > .label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-transform: initial;
  color: #f2f2f2;
}
@media screen and (max-width: 748px) {
  .footer > .container > .footer__content > .contact-email > .label {
    font-size: 0.625rem;
    line-height: 0.9375rem;
  }
}
.footer > .container > .footer__content > .contact-email > .email-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex: 0 1 auto;
  width: calc(100% - 1rem);
  padding: 0.25rem;
  padding-left: 0.75rem;
  background: #f2f2f2;
  border-radius: 0.75rem;
}
.footer > .container > .footer__content > .contact-email > .email-container > .email-input {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-transform: initial;
  color: #4f4f4f;
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}
.footer > .container > .footer__content > .contact-email > .email-container > .email-input::placeholder {
  color: #bdbdbd;
}
@media screen and (max-width: 748px) {
  .footer > .container > .footer__content > .contact-email > .email-container > .email-input {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
}
.footer > .container > .footer__content > .contact-email > .email-container > .join {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-transform: initial;
  color: #f2f2f2;
  cursor: pointer;
  background: #2d9cdb;
  border-radius: 0.75rem;
  border: none;
  padding: 0.6875rem 1.6875rem;
  transition: all 0.3s ease;
}
.footer > .container > .footer__content > .contact-email > .email-container > .join:hover {
  filter: contrast(200%);
}
@media screen and (max-width: 748px) {
  .footer > .container > .footer__content > .contact-email > .email-container > .join {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
}
.footer > .container > .text-footer {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-transform: none;
  color: #f2f2f2;
}
.footer > .container > .text-footer > .strong {
  font-weight: 700;
  color: #f2f2f2;
  filter: contrast(200%);
  transition: 0.3s all ease;
}
.footer > .container > .text-footer > .strong:hover {
  color: #2d9cdb;
}

.home > .title, .home > .description, .home > .contact-email {
  opacity: 0;
}

.home > img {
  opacity: 0;
}

.services > .main {
  opacity: 0;
}

.services > .cards > .card {
  opacity: 0;
}

.our-works > .main, .our-works > .cards > .card:nth-child(odd) {
  opacity: 0;
}

.our-works > .container-more-info, .our-works > .cards > .card:nth-child(even) {
  opacity: 0;
}

.clients > .text-container {
  opacity: 0;
}

.clients > .img-container img {
  opacity: 0;
}

.comments > .client-container {
  opacity: 0;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-5 6:3:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
.slide-in-blurred-left {
  animation: slide-in-blurred-left 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes slide-in-blurred-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-blurred-right {
  animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes slide-in-blurred-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.puff-in-center {
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes puff-in-center {
  0% {
    transform: scale(0);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}
.animate-img > .right-side > img:nth-child(1) {
  animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.animate-img > .left-side > img:nth-child(1) {
  animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) 0.45s both;
}
.animate-img > .right-side > img:nth-child(2) {
  animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) 0.9s both;
}

body {
  margin: 0;
  padding: 0 0;
  overflow-x: hidden;
  user-select: none;
}
body .scroll-body {
  overflow: hidden;
}
body > main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  gap: 1rem;
  flex: 0 1 auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0;
  overflow-x: hidden;
}
@media screen and (max-width: 1304px) {
  body > main {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 748px) {
  body > main {
    padding: 0 0.5rem;
  }
}

/* A CSS rule that hides the scrollbar on Chrome and Safari. */
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
  transition: all 1s linear;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 16px;
}

/*# sourceMappingURL=style.css.map */
