@use 'variables';

:root{
    font-family: variables.$font-family;
    color: variables.$color-gray-1;
    font-weight: 500;
    background-color: variables.$color-white;
    scroll-behavior: smooth;
}