/* Defining the fonts that will be used in the project. */
$font-title: 'Heebo', sans-serif;
$font-footer: 'Montserrat', sans-serif;
$font-family: 'Poppins', sans-serif;


/* Defining the colors that will be used in the project. */
$color-gray-1: #333333;
$color-gray-2: #4f4f4f;
$color-gray-3: #828282;
$color-gray-4: #bdbdbd;
$color-gray-5: #e0e0e0;
$color-gray-6: #f2f2f2;

$color-blue: #2d9cdb;
$color-green: #27AE60;
$color-red: #EB5757;

$color-white: #ffffff;
$color-footer: #100E1D;

