@use 'root';
@use 'normalize';
@use 'icons';
@use './variables';

@use './partials/header';
@use './partials/return-to-up';
@use './partials/home';
@use './partials/services';
@use './partials/our-works';
@use './partials/clients';
@use './partials/comments';
@use './partials/footer';

@use './animation/initialization';
@use './animation/animation';

@use './mixins/display';
@use './functions/converts';


body{
    margin: 0;
    padding: 0 0;
    overflow-x: hidden;
    .scroll-body{
        overflow: hidden;
    }
    user-select: none;

    & > main{
        @include display.flex(
            $flex-flow: column nowrap,
        );

            max-width: 1200px;
            margin: 0 auto;
            padding: 0 0;
            overflow-x: hidden;

            @media screen and (max-width: 1304px){
                &{
                    padding: 0 2rem;
                }
            }

            @media screen and (max-width: 748px){
                &{
                    padding: 0 0.5rem;
                }
            }
    }
}

/* A CSS rule that hides the scrollbar on Chrome and Safari. */
::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
    transition: all 1s linear;
}

::-webkit-scrollbar-thumb {
    background-color: variables.$color-gray-4;
    border-radius: 16px;
}


