@use 'root';
@use 'normalize';
@use 'icons';
@use './partials/header';
@use './partials/home';
@use './mixins/display';
@use './functions/converts';

body{
    max-width: 1240px;
    margin: 0 auto;
    padding: 2rem 0;

    @media screen and (max-width: 1304px){
        &{
            padding: 2rem;
        }
    }

    @media screen and (max-width: 748px){
        &{
            padding: 0.5rem;
        }
    }

    .scroll-body{
        overflow: hidden;
    }

    & > main{
        @include display.flex(
            $flex-flow: column nowrap,
            $gap: 45,
        );
        
        margin: converts.pixels-rem(90) 0;
    
        @media screen and (max-width: 748px){
            &{
                margin: converts.pixels-rem(40) 0;
                gap: 20rem;
            }
        }
    }
}



