@use '../variables';
@use '../functions/converts';

@mixin font(
    $font-family: variables.$font-family, 
    $font-style: normal,
    $font-weight: 500,
    $font-size: 36,
    $line-height: 54,
    $text-transform: capitalize,
    $color: variables.$color-gray-1,
    ){
        font-family: $font-family;
        font-style: $font-style;
        font-weight: $font-weight;
        font-size: converts.pixels-rem($font-size);
        line-height: converts.pixels-rem($line-height);
        text-transform: $text-transform;
        color: $color;
}