@use '../variables';
@use '../mixins/font';
@use '../mixins/display';
@use '../functions/converts';

.home{
    @include display.flex(
        $flex-flow: column nowrap,
        $gap: 42,
    );

    padding: converts.pixels-rem(90) 0;

    @media screen and (max-width: 748px){
        &{
            gap: 1rem;
            padding: converts.pixels-rem(40) 0 converts.pixels-rem(40);
        }
    }
    

    & > .home-text{
        @include display.flex(
            $flex-flow: column nowrap,
            $align-items: flex-start,
            $gap: 8
        );
        margin-left: converts.pixels-rem(200);

        @media screen and (max-width: 920px) {
            &{
                margin-left: converts.pixels-rem(100);
            }
        }

        @media screen and (max-width: 560px){
            &{
                margin-left: converts.pixels-rem(30);
            }
        }

        @media screen and (max-width: 320px){
            &{
                margin-left: converts.pixels-rem(15);
            }
        }
    }

    & > .title{
        
        & > .support-text{
            @include font.font(
                $font-size: 18,
                $line-height: 27,
                $color: variables.$color-blue,
                $text-transform: initial
            );

            @media screen and (max-width: 748px){
                &{
                    font-size: converts.pixels-rem(18);
                    line-height: converts.pixels-rem(27);
                }
            }

            @media screen and (max-width: 748px){
                &{
                    font-size: converts.pixels-rem(15);
                    line-height: converts.pixels-rem(24);
                }
            }
        }

        & > .main-text{
            @include font.font(
                $font-size: 48,
                $line-height: 72,
                $color: variables.$color-gray-1,
                $text-transform: initial
            );
            max-width: converts.pixels-rem(540);

            @media screen and (max-width: 748px){
                &{
                    font-size: converts.pixels-rem(24);
                    line-height: converts.pixels-rem(36);
                    max-width: converts.pixels-rem(272);
                }
            }

            @media screen and (max-width: 320px){
                &{
                    font-size: converts.pixels-rem(20);
                    line-height: converts.pixels-rem(30);
                    max-width: converts.pixels-rem(220);
                }
            }
        }
    }

    & > .home-img{
        width: 100%;
        border-radius: converts.pixels-rem(18);
    }

    & > .description{
        @include display.flex(
            $flex-flow: column nowrap,
            $align-items: flex-start,
            $gap: 42
        );
        max-width: converts.pixels-rem(366);

        @media screen and (max-width: 748px){
            &{
                max-width: converts.pixels-rem(275);
                gap: 1rem;
            }
        }

        @media screen and (max-width: 748px){
            &{
                max-width: converts.pixels-rem(235);
                gap: 1rem;
            }
        }

        & > .support-text{
            @include font.font(
                $font-size: 48,
                $line-height: 72,
                $color: variables.$color-gray-1,
                $text-transform: initial
            );

            @media screen and (max-width: 748px){
                &{
                    font-size: converts.pixels-rem(24);
                    line-height: converts.pixels-rem(36);
                    max-width: converts.pixels-rem(220);
                }
            }

            @media screen and (max-width: 320px){
                &{
                    font-size: converts.pixels-rem(20);
                    line-height: converts.pixels-rem(30);
                    max-width: converts.pixels-rem(180);
                }
            }
        }

        & > .main_text{
            @include font.font(
                $font-weight: 400,
                $font-size: 18,
                $line-height: 27,
                $color: variables.$color-gray-2,
                $text-transform: initial
            );

            @media screen and (max-width: 748px){
                &{
                    font-size: converts.pixels-rem(12);
                    line-height: converts.pixels-rem(18);
                }
            }

            @media screen and (max-width: 320px){
                &{
                    font-size: converts.pixels-rem(11);
                    line-height: converts.pixels-rem(16);
                }
            }

            
        }
    }

    & > .contact-email{
        width: converts.pixels-rem(366);
        @media screen and (max-width: 748px){
            &{
                width: converts.pixels-rem(290);
            }
        }

        @media screen and (max-width: 350px){
            &{
                width: calc(100% - 40px);
            }
        }

        @media screen and (max-width: 320px){
            &{
                width: calc(100% - 30px);
            }
        }

        & > .label{
            @include font.font(
                $font-weight: 400,
                $font-size: 14,
                $line-height: 21,
                $color: variables.$color-gray-3,
                $text-transform: initial
            );

            @media screen and (max-width: 748px){
                &{
                    font-size: converts.pixels-rem(10);
                    line-height: converts.pixels-rem(15);
                }
            }
        }

        & > .email-container{
            @include display.flex(
                $justify-content: space-between,
                $align-items: center,
                $gap: 8
            );
            width: calc(100% - 1rem);
            padding: converts.pixels-rem(4);
            padding-left: converts.pixels-rem(12);
            background: variables.$color-gray-6;
            border-radius: converts.pixels-rem(12);


            & > .email-input{
                @include font.font(
                    $font-size: 18,
                    $line-height: 27,
                    $color: variables.$color-gray-2,
                    $text-transform: initial
                );
                flex-grow: 1;
                border: none;
                outline: none;
                background-color: transparent;
                width: 100%;

                &::placeholder{
                    color: variables.$color-gray-4;
                }

                @media screen and (max-width: 748px){
                    &{
                        font-size: converts.pixels-rem(14);
                        line-height: converts.pixels-rem(21);
                    }
                }
            }

            & > .join{
                @include font.font(
                    $font-size: 18,
                    $line-height: 27,
                    $color: variables.$color-gray-6,
                    $text-transform: initial,
                );
                cursor: pointer;
                background: variables.$color-blue;
                border-radius: converts.pixels-rem(12);
                border: none;
                padding: converts.pixels-rem(11) converts.pixels-rem(27);
                transition: all 0.3s ease;

                &:hover{
                    filter: contrast(200%);
                }

                @media screen and (max-width: 748px){
                    &{
                        font-size: converts.pixels-rem(14);
                        line-height: converts.pixels-rem(21);
                    }
                }
            }
        }
    }
}

.focus{
    background-color: aqua;
}