@use '../variables';
@use '../mixins/font';
@use '../mixins/display';
@use '../functions/converts';

.our-works{
    @include display.flex(
        $flex-flow: column nowrap,
        $justify-content: center,
        $gap: 48,
    );
    margin: 0 auto;
    width: 90%;
    margin-top: 2rem;
    padding: converts.pixels-rem(40) 0 converts.pixels-rem(32);
    position: relative;

    @media screen and (max-width: 840px){
        &{
            width: 100%;
        }
    }

    @media screen and (max-width: 560px){
        &{
            gap: 32;
        }
    }
    
    & > .main{
        @include font.font($text-transform: none);
        max-width: converts.pixels-rem(448);
        margin-left: 0;

        @media screen and (max-width: 748px){
            &{
                max-width: converts.pixels-rem(267);
                font-size: converts.pixels-rem(24);
                line-height: converts.pixels-rem(36);
                margin-left: converts.pixels-rem(100);
            }
        }

        @media screen and (max-width: 560px){
            &{
                margin-left: converts.pixels-rem(30);
            }
        }

        @media screen and (max-width: 320px){
            &{
                margin-left: converts.pixels-rem(15);
                font-size: converts.pixels-rem(20);
                line-height: converts.pixels-rem(30);
                max-width: converts.pixels-rem(220);
            }
        }
    }

    & > .cards{
        @include display.flex(
            $flex-flow: row wrap,
            $justify-content: space-between,
            $gap: 0,
        );

        @media screen and (max-width: 560px){
            &{
                gap: converts.pixels-rem(32) 
            }
        }


        & > .card{
            @include display.flex(
                $flex-flow: column nowrap,
                $gap: 20,
            );
            width: 49%;

            @media screen and (max-width: 560px){
                &{
                    width: 100%;
                }
            }

            &:nth-child(2n+1){
                margin-top: 8rem;

                @media screen and (max-width: 560px){
                    &{
                        margin-top: 0;
                    }
                }
            }

            & > .img-container{
                @include display.flex(
                    $justify-content: center,
                    $align-items: center,
                    
                );
                width: 100%;
                overflow: hidden;
                border-radius: converts.pixels-rem(12);

                & > .img{
                    width: 100%;
                    transform-origin: center;
                    transition: 0.3s all ease;
                    transform: scale(1.01);
                }
            }

            & > .text-container{
                @include display.flex(
                    $flex-flow: column nowrap,
                    $gap: 0,
                );
                transition: 0.3s all ease;

                & > .support-text{
                    @include font.font(
                        $text-transform: none,
                        $font-weight: 300,
                        $font-size: 14,
                        $line-height: 21,
                        $color: variables.$color-gray-3,
                    );
                }

                & > .main-text{
                    @include font.font(
                        $text-transform: none,
                        $font-size: 24,
                        $line-height: 36,
                        $color: variables.$color-gray-1,
                    );
                }

                @media screen and (max-width: 748px){
                    & > .support-text{
                        font-size: converts.pixels-rem(12);
                        line-height: converts.pixels-rem(18);
                    }
    
                    & > .main-text{
                        font-size: converts.pixels-rem(18);
                        line-height: converts.pixels-rem(27);
                    }
                }

            }

            &:hover{
                & > .img-container{

                    & > .img{
                        transform: scale(1.1) rotate(1deg);

                    }
                }

                & > .text-container{
                    transform: translateX(1.5rem);

                    & > .main-text{
                        color: variables.$color-blue;
                    }
                    
                }
            }
        }
    }

    & > .container-more-info{
        @include display.flex(
            $align-items: center,
            $gap: 8,
        );
        position: absolute;
        right: 0;
        bottom: 2rem;

        @media screen and (max-width: 560px){
            &{
                position: relative;
                right: unset;   
                bottom: unset;
            }
        }

        & > .more-info-text{
            @include font.font(
                $text-transform: none,
                $font-size: 24,
                $line-height: 36,
                $color: variables.$color-blue,
            );
            position: relative;
            
            @media screen and (max-width: 748px){
                & {
                    font-size: converts.pixels-rem(18);
                    line-height: converts.pixels-rem(27);
                }
            }

            &::before{
                content: "see more";
                position: absolute;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 0%;
                z-index: 2;
                color: variables.$color-blue;
                white-space: nowrap;
                overflow: hidden;
                transition: all 0.2s ease;
                filter: contrast(200%);
            }
        }

        & > .arrow-icon{
            font-size: 1.5rem;
            color: variables.$color-blue;
        }

        &:hover{
            & > .more-info-text{
                &::before{
                    width: 100%;
                }
            }

            & > .arrow-icon{
                animation: move 2s infinite forwards 0.2s;
            }
        }

        
    }
}

@keyframes move {
    0%{
        transform: translateX(0);
        filter: contrast(200%);
    }
    50%{
        transform: translateX(.5em);
        filter: contrast(100%);
    }
    100%{
        transform: translateX(0);
        filter: contrast(200%);
    }
}