@use '../variables';
@use '../mixins/font';
@use '../mixins/display';
@use '../functions/converts';

.scroll-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0.8rem;

    & > .scroll-bar-nav{
        height: 100%;


        & > .items{
            @include display.flex(
                $flex-flow: column nowrap,
                $justify-content: space-between,
                $gap: 0
            );
            height: 100%;
            width: 100%;

            & > li{
                width: 100%;
                height: 100%;
                flex-grow: 1;
                position: relative;
            }


            &  .item{
                @include font.font(
                    $font-size: 16, 
                    $line-height: 20,
                    $color: variables.$color-white
                );
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                text-decoration: none;
                writing-mode: vertical-rl;
                white-space: nowrap;
                background: variables.$color-gray-6;
                border-radius: 0.5rem 0 0 0.5rem;
            }

            &  .item2{
                position: absolute;
                top: 0;
                right: 0rem;
                bottom: 0;
                left: -0.5rem;
                background: variables.$color-blue;
                filter: contrast(200%);
                border-radius: 1rem 0 0 1rem;
            }
        }
    }
}